/* Grid Layouts for Various Sections */
#main-nav .container,
#showcase .showcase-container,
#home-articles .article-container,
#main-footer .footer-container,
.page-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

/* Specific Adjustments for Social Media and Navigation */
#main-nav .social {
  display: none;  /* Hide social media links */
}

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

/* Home Articles */
#home-articles .article-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .article-container > *:first-child,
#home-articles .article-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  /* Stack grid items for mobile */
  #main-nav .container,
  #showcase .showcase-container,
  #home-articles .article-container,
  #main-footer .footer-container,
  .page-container {
    grid-template-columns: 1fr;
    gap: 0.8rem;  /* Slightly reduced gap for mobile */
  }

  /* Footer Adjustments */
  #main-footer .footer-container >*:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container >*:first-child,
  #main-footer .footer-container >*:nth-child(2) {
    border-bottom: #555 1px dotted;
    padding-bottom: 1rem;
  }

  /* Page Container Layout */
  .page-container >*:first-child {
    grid-row: 1;
  }

  /* Adjusting Font Sizes for Mobile */
  body {
    font-size: 14px;
  }

  h1, h2, h3 {
    font-size: 1.2
